.modal {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background: rgba(80, 82, 72, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 10;

  &__block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 15px;
  }
  &__text{
    font-size: 25px;
    text-align: justify;
  }

  &__btn{
    color: yellow;
  }
}