.pokemon {
  flex: 1 1 auto;

  &__wrapper{
    max-width: 1000px;
    margin: 0 auto;
  }
  &__description{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .pokemon-blocks{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .pokemon-block{
    font-size: 40px;
    background: rgba(46, 46, 46, 0.8);
    border-radius: 10px;
    padding: 15px;
    min-width: 220px;
  }
  &__body{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    gap: 40px;
    margin-bottom: 40px;
  }
  &__picture{
    background: rgba(46, 46, 46, 0.8);
    border-radius: 15%;
    backdrop-filter: blur(10px);
    min-width: 400px;
    height: 100%;
    & > img {
      width: 100%;
    }
  }
  // Pokemon features
  // Intro
  &__intro{
    display: flex;
    gap: 10px;
  }
  &__gif{
    height: 100%;
    padding: 10px;
    background: rgba(46, 46, 46, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 15px;
    & > img{
      max-height: 50px;
    }
  }
  &__name{
    padding: 15px 40px !important;
  }
  // Abilities
  .abilities{
    &__wrapper{
      position: relative;
    }
    &__item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    &__description{
      font-size: 25px;
      color: yellow;
      background: transparent;
      transition: color 0.3s;
      &:hover{
        color: white;
        }
    }
  }

  .types{
    &__item{
      text-align: center;
    }
    // All types
    &__grass{
      background-color: #9bcc50;
    }
    &__poison{
      background-color: #b97fc9;
    }
    &__fire{
      background-color: #fd7d24;
    }
    &__water{
      background-color: #4592c4;
    }
    &__bug{
      background-color: #729f3f;
    }
    &__normal{
      background-color: #a4acaf;
    }
    &__flying{
      background-color: #3dc7ef;
    }
    &__fairy{
      background-color: #fdb9e9;
    }
    &__fighting{
      background-color: #d56723;
    }
    &__psychic{
      background-color: #f366b9;
    }
    &__ground{
      background-color: #f7de3f;
    }
    &__rock{
      background-color: #a38c21;
    }
    &__electric{
      background-color: #eed535;
    }
    &__steel{
      background-color: #9eb7b8;
    }
    &__ice{
      background-color: #51c4e7;
    }
    &__ghost{
      background-color: #7b62a3;
    }
    &__dragon{
      background-color: #e62020;
    }
  }

  .evolution{
    margin-bottom: 100px;
    &__wrapper{
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 100px;
    }
    &__picture{
      background: rgba(46, 46, 46, 0.8);
      border-radius: 25%;
      backdrop-filter: blur(10px);
      padding: 15px;
      max-width: 350px;
    }
    &__img{
      width: 100%;
    }
    &__name{
      text-align: center;
    }
    &__title{
      text-align: center;
      font-size: 35px;
      margin-bottom: 30px;
    }
    &__active{
      background: #8bc34a;
      background: linear-gradient(0deg, #8bc34a 46%, rgba(53, 113, 122, 0.795956) 100%);
    }
  }
}