.scroll-top{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  bottom: 10%;
  @include adaptiveValue('right', 40, 10, 1920);
  border: 4px solid #f8f77b;
  border-radius: 50%;
  cursor: pointer;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 52%;
    left: 50%;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-left: 7px solid #f8f77b;
    border-bottom: 7px solid #f8f77b;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  &:hover{
    border-color: #f8f87bbe;
  }
}