.header{
  padding-top: 10px;
  color: white;
  min-height: 80px;
  margin-bottom: 80px;
 
  &__wrapper{
    max-width: 1400px;
    margin: 0 auto;
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search{
    flex-basis: 40%;
  }
  &__input{
    width: 30%;
    color: #fff;
    border-left: 5px solid rgb(255, 230, 0);
    background: rgba(255, 255, 255, 0.096);
    outline: none;
    padding: 10px 30px;
    border-radius: 0 10px 10px 0;
    transition: all 0.3s;
    &:hover {
        width: 45%;
    }
    &:focus {
        border-left: 5px solid rgb(0, 255, 106);
        width: 45%;
    }
  }
  &__clear-btn{
    color: #fff;
    margin-left: 30px;
    padding: 6px 18px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.096);
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        transition: all 0.3s ease 0s;
        position: absolute;
        top: 50%;
        left: -20%;
        width: 5%;
        height: 150%;
        transform: translate(0%,-50%) rotate(-25deg);
        background: rgba(255, 230, 0, 0.7);
    }
    &:hover{
      &::before{
        left: 120%;
      }
    }
  }
  .nav{
    flex-basis: 40%;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 40px;
    
    &__link{
      transition: color 0.3s;
      &:hover{
        color: rgba(255, 230, 0, 0.85);
      }
    }
  }
  .logo{
    &__link{
      & > img {
        width: 65px;
      }
    }
  }
}
 
