.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(25, 25, 27, 0.75);
  z-index: 100;

  &__item{
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
