.pokemon {
  flex: 1 1 auto;
  &__wrapper{
    max-width: 1000px;
    margin: 0 auto;
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    gap: 40px;
  }

  &__picture{
    background: rgba(46, 46, 46, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    min-width: 400px;
    height: 100%;
    & > img {
      width: 100%;
    }
  }

  &__intro{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  &__gif{
    width: 100%;
    height: 100%;
    padding: 10px;
    & > img{
      height: 50px;
    }
  }
  &__title{
    padding: 15px 40px;
  }
  &__stats{
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > div {
      padding: 15px;
    }
  }

  .abilities{
    &__wrapper{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
        & > div {
          padding: 15px;
        }
    }
    &__description{
      position: absolute;
      top: 0;
      height: 100%;
      right: 10px;
      font-size: 25px;
      color: yellow;
      background: transparent;
      transition: color 0.3s;
      &:hover{
        color: white;
      }
    }
    &__title{
      margin-bottom: 10px;
    }
  }
  .pokemon-block{
    font-size: 40px;
    background: rgba(46, 46, 46, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
}