body {
  background-image: url('../assets/images/pokemon-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.full-wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
main{
  flex: 1 1 auto;
}


$fontFamily: 'Edu SA Beginner', cursive;
$fontSize: 20px;


@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600&display=swap');

@import './null.scss';

@import './header.scss';

@import './poke-list.scss';

@import './likes.scss';

@import './pokemon.scss';

@import './modal.scss';

@import './loader.scss';

@import './search.scss';

@import './transition.scss';

@import './default.scss';

@import './footer.scss';