body {
  background-image: url('../assets/images/pokemons-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.full-wrapper{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
main{
  flex: 1 1 auto;
}

@mixin adaptiveValue($property, $startSize, $minSize, $maxWidth){
	$addSize: $startSize - $minSize;
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));	
}

$fontFamily: 'Edu SA Beginner', cursive;
$fontSize: 20px;


@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600&display=swap');

@import './null.scss';

@import './transition.scss';

@import './components/header.scss';

@import './components/poke-list.scss';

@import './components/likes.scss';

@import './components/pokemon.scss';

@import './components/modal.scss';

@import './components/loader.scss';

@import './components/search.scss';

@import './components/default.scss';

@import './components/scroll.scss';

@import './components/footer.scss';